.HoverBox{
    cursor: pointer;
    
    >p{
        width: 80%;
        font-size: 16px;
        cursor: pointer;
    }
    .span{
        padding-left:0 ;
    }
    &:hover{
        >.west{
           opacity: 1; 
        }
    }

}
.Hover-Card{
    &:hover{
        .Mountain-Img{
            transform: scale(1.1);
            
        }
        .Mountain-Button{
            >button{
                width: 200px;
                display: flex; justify-content: end; align-items: center;
                visibility: visible;
                background-color: var(--blueb);
                >p{
                    opacity: 1;
                }
                >span{
                    >svg{
                        >path{
                            fill: white;
                            
                        }
                    }
                }
            }
        }
    }
}
.PhoneBg{
    background-image: url(../public/teaser-background.svg);
    
}

